* {
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: orchid;
}

.top-buffer{
    margin-top:20px;
}

.bright{
    color: white;
}

.label-cls{
    margin-left: 20px;
    margin-right: 20px;
}
